.sidder {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
    
}

.sider-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: row; / is making the text displayed horizontally and column displyed the element vertically */
    flex-direction: column;
    cursor: pointer;
}

.sider-link:hover {
    background-color: rgb(235, 235, 235);
}

.sider-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sider-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
}


